@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');


body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */

header .line{
    background-color: #117050;
    height: 10px;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.bar{
    height: 22px;
    width: 168px;
    background-color: #006431;
}

h1{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 100px;
    line-height: 100px;
    margin: 0;
    margin-bottom: 30px;
}

h2{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    line-height: 45px;
    margin: 20px 0px;
}

.button{
    color: #454545;
    display: inline-block;
    margin-top: 50px;
    border: 2px solid #454545;
    padding: 15px;
    border-radius: 3px; 
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1rem;
    line-height: 1.4;
}

.button:hover{
    color: white;
    background-color: #454545;
}

.header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}

.header-left img{
    height: 64px;
    width: 64px;
}

.header-right{
    display: flex;
    align-items: center;
}

.header-search form{
    display: flex;
}

.header-search input{
    font-size: 16px;
    padding: 7px 10px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 220px;
}

.header-search button{
    border: 0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;
}

.header-search button img{
    width: 16px;
    height: 16px;
}

.header-menu{
    margin-left: 70px;
    cursor: pointer;
}
.header-menu img{
    height: 24px;
    width: 24px;
}





/* BANNER */

.banner{
    background-image: url('../assets/images/bg.jpg');
    background-position-x: 40%;
    background-position-y: 30%;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}

.banner-images{
    margin-top: 60px;
}

.banner-images img{
    width: 148px;
    height: 148px;
    border: 6px solid #117050;
    border-radius: 50%;    
    margin-right: 40px;
}



/* AREA-1 */

.area-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.area-1-content{
    margin-left: 130px;
    padding: 80px;
}

.area-1-img1{
    background-color: green;
    height: 350px;
    background-image: url('../assets/images/f2.jpg');
    background-size: cover;
    background-position: center;
}

.area-1-img2{
    background-color: red;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: url('../assets/images/f1.jpg');
    background-size: cover;
    background-position: center;
}

.area-1-quote{
    margin-bottom: 30px;
}

.area-1-text{
    line-height: 30px;
}




/* AREA-2 */

.area-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.area-2-content{
    margin-left: 130px;
    padding: 80px;
}

.area-2-img1{
    background-image: url('../assets/images/f3.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.area-2-img2{
    height: 400px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-image: url('../assets/images/f4.jpg');
    background-size: cover;
    background-position: center;
}

.area-2-quote{
    margin-bottom: 30px;
}

.area-2-text{
    line-height: 30px;
}




/* AREA-3 */

.area-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 800px;
}

.area-3-content{
    margin-top: 150px;
    margin-left: 300px;
    padding: 80px;
}

.area-3-img1{
    background-image: url('../assets/images/bg2.jpg');
    background-size: cover;
    background-position: left;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.area-3-img2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-image: url('../assets/images/f5.jpg');
    background-size: cover;
    background-position: center;
}

.area-3-quote{
    margin-bottom: 30px;
}

.area-3-text{
    line-height: 30px;
}





/* AREA-4 */

.area-4{
    display: flex;
    background-color: #E8E9EE;
}

.area-4-content{
    margin-top: 100px;
    margin-left: 200px;
    padding: 80px;
    flex: 1;
}

.area-4-text{
    line-height: 30px;
}

.img-area-4{
    background-image: url('../assets/images/bg3.jpg');
    background-size: cover;
    background-position: center;
    flex: 5;
}







/* AREA-5 */

.area-4{
    display: flex;
    background-color: #E8E9EE;
}

.area-4-content{
    margin-top: 100px;
    margin-left: 200px;
    padding: 80px;
    flex: 1;
}

.area-4-text{
    line-height: 30px;
}

.img-area-4{
    background-image: url('../assets/images/bg3.jpg');
    background-size: cover;
    background-position: center;
    flex: 5;
}




/* FOOTER */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #333333;
    
}

footer p {
    color: white;
}

footer a{
    color: #a8f8dd;
}